__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
!.env.example
venv/
.DS_Store
.ipynb_checkpoints/
__cache__/
*.log
/data/
/tests/__pycache__/
.idea/
.vscode/
*.egg-info/
credentials/
!credentials/.gitkeep
